<button 
    {{#if id}}
    id="{{id}}" 
    {{/if}}
    class="primary-button {{#if class}}{{class}}{{/if}}" 
    {{#if form}}
    form="{{form}}" 
    {{/if}}
    {{#if type}}
    type="{{type}}"
    {{/if}}
>
    <span>
        {{#if text}}
        {{text}}
        {{/if}}
    </span>    
</button>